---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';
import BentoGrid from '../components/BentoGrid.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Protege tus pertenencias con Bionet</h1>
      <h2>Rastrea tus objetos valiosos con precisión en tiempo real</h2>
      <Button text="Ver Ubicación" />

      <!-- Componente de BentoGrid -->
      <BentoGrid />
    </main>
    <Footer />
  </body>
</html>
